@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../../fonts/Oswald-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Regular'), local('Quattrocento-Regular'), url(../../fonts/Quattrocento-Regular.ttf) format('woff2');
}
