$primary-light: #85B8C2;
$primary-dark: #083759;
$secondary-light: #FBE87F;
$secondary-dark: #F3CE1E;

$header-width: 71vw;
$header-text: 3vw;
$header-name: 13vw;

$bodyFont: 100%;
$xsmall: 2rem;
$small: 3rem;
$medium: 5rem;
$large: 56rem;
