$default-theme: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
$techno-theme: linear-gradient(-45deg, #00B796, #FE9601, #CC0063 ,#86269B, #00D2F1);
$light-pastel-theme: linear-gradient(-45deg, #A8E6CF, #DCEDC1, #FFD3B6, #FFAAA5, #FF8B94);
$forest-theme: linear-gradient(-45deg, #AEFFA6, #58BD6A, #448C54, #245C36, #113F2C);
$beach-theme: linear-gradient(-45deg, #1E2A3E, #779FA1, #E0CBA8, #FF6542);
$fall-theme: linear-gradient(-45deg, #233D4D, #FE7F2D, #FCCA46, #A1C181, #579C87);
$sunset-theme: linear-gradient(-45deg, #571845, #900C3E, #C70039, #FF5733, #FFC300);
